.navbar {
  background: transparent;
  transition: 0.5s background-color ease;
  h2 {
    font-family: 'Limelight', cursive;
  }
  a {
    color: #CF291D;
  }
}

.navbar-white {
  background-color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
