// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "lists";
@import "bookmarks";

$darkred: #CF291D;
$lightgray: #ECECEC;
$darkgray: #BFBFBF;

h1 {
  font-family: 'Limelight', cursive;
  color: $darkred;
}
h2 {
  font-family: 'Limelight', cursive;
  color: $darkred;
}
a {
  color: $darkred
}
a:hover {
  color: $darkred
}
button, input {
  border-radius: 5px;
}
input[type="submit"] {
  background-color: transparent;
  color: $darkred;
  border-color: $darkred;
  &:hover {
    background-color: $darkgray;
  }
}
body {
  background-color: $lightgray;
}
input[type="text"] {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
